* {
	font-family:$sans;
}

a {
	transition: $transition;
}

// top bar

.top-bar {
	display:none;
	@media #{$medium-up} {
		display:block;
	}
	.name {
		h1 {
			width:rem-calc(200);
			background:url('http://placehold.it/100x35') no-repeat top left;
			background-color:transparent;
			text-indent:rem-calc(-1000);
			margin-top:rem-calc(5);
		}
	}
}

// offcanvas

.right-small {
	border:none !important;
}

.title-area {
	h1 {
		width:rem-calc(200);
		background:url('http://placehold.it/100x35') no-repeat top left;
		background-color:transparent;
		text-indent:rem-calc(-1000);
		margin-top:rem-calc(5);
		margin-left:rem-calc(10);
	}
}

.offcanvaswrapper {
	@media #{$medium-up} {
		display:none;
	}
}

// Sub Nav

.magellan {
	display:none;
	@media #{$medium-up} {
		display:block;
	}
}

.sub-nav {
	@include grid-row();
	border-bottom: $border;
	padding: rem-calc(6) 0;
	dd {
		margin-top:rem-calc(13);
	}
}

// page layout

.main-section {
	section {
		@include grid-row();
		margin-top:$row-margin/2;
		padding-bottom:$row-margin/4;
		border-bottom: $border;
		@media #{$medium-up} {
			margin-top:$row-margin;
			padding-bottom:$row-margin/2;
		}
		&:last-of-type {
			border-bottom: none;
		}
	}
}

// company list

ol {
	@include grid-row();
	list-style-type:none;
	margin-top:$row-margin/2;
	img {
		display:block;
		width:50%;
		margin:0 auto;
	}
	li {
		@include grid-column(6);
		@media #{$medium-up} {
			@include grid-column(3);
		}
	}
}

// lead image & text

.lead {
	@include grid-column(12);
	img {
		display:block;
		width:rem-calc(100);
		margin:0 auto;
	}
	h2 {
		padding-top:$row-margin/5;
	}
	h3 {
		padding-top:0;
	}
}

// section images

.fullimg {
	padding-top:$row-margin/2;
}

// footer

footer {
	width:100%;
	background:#f2f2f2;
	section {
		@include grid-row();
		padding-top:$row-margin/2;
		padding-bottom:$row-margin/4;
		@media #{$medium-up} {
			padding-top:$row-margin;
			padding-bottom:$row-margin/2;
		}
		article {
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(6);
			}
		}
		aside {
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(6);
			}
		}
	}
}

// anchors 

.anchor {
	display: block; 
	position: relative; 
	top: -50px; 
	visibility: hidden;
}
