$row-margin:rem-calc(80);

$sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$heading-color: #333333;
$text-color: #717171;
$link-color:#d6d6d6;
$hover: #2498d3;

$border: 1px solid #d6d6d6;

$transition: 300ms ease-out;